*{
	margin: 0px;
	padding: 0px;
	font-family: Avenir, sans-serif;
}

body{
	background-color: #DCDCDC;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
}

header{
	background-color: grey;
}

header ul li{
	display: inline-block;
}

header ul li#seco{
	margin-right: 10px;
	vertical-align: top;
	float: right;
}

footer{
	background-color: grey;
	position: absolute; bottom: 0; left: 0; right: 0;
	padding-left: 10px;
}

#menu-demo2{
	background-color: grey;
}

#menu-demo2, #menu-demo2 ul{
padding:0;
margin-left:none;
list-style:none;
text-align:left;
}
#menu-demo2 li{
display:inline-block;
position:relative;
border-radius:8px 8px 0 0;
}
#menu-demo2 ul li{
display:inherit;
border-radius:0;
}
#menu-demo2 ul li:hover{
border-radius:0;
}
#menu-demo2 ul li:last-child{
border-radius:0 0 8px 8px;
}
#menu-demo2 ul{
position:absolute;
z-index: 1000;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .5s all .3s;
-webkit-transition: .5s all .3s;
transition: .5s all .3s;
}
#menu-demo2 li:hover ul{
max-height:15em;
}
/* background des liens menus */
#menu-demo2 li{
background-color: #ff6600;
background-image:-webkit-linear-gradient(top, #ff6600 0%, #ff9d5c 100%);
background-image:linear-gradient(to bottom, #ff781f 0%, #ff9d5c 100%);
}

/* background des liens sous menus */
#menu-demo2 li:first-child li{
background:#ff6600;
}
/* background des liens menus et sous menus au survol */
#menu-demo2 li:first-child:hover, #menu-demo2 li:first-child li:hover{
background:#ff6600;
}

/* les a href */
#menu-demo2 a{
text-decoration:none;
display:block;
padding:8px 32px;
color:black;
text-align: center;
font-family:Avenir;
}
#menu-demo2 ul a{
padding:8px 0;
}
#menu-demo2 li:hover li a{
color:black;
text-transform:inherit;
}
#menu-demo2 li:hover a, #menu-demo2 li li:hover a{
color:#000;
}